rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /UserFiles{
    	allow write: if false;
    	match/{userID} {
      	allow write: if false;
        match/public{
          allow read: if true;
          allow delete: if request.auth.uid == userID;
          allow create, update: if request.auth.uid == userID
          && request.auth.token.nextUpload == request.resource.name
          && request.auth.token.nextUploadBytes == request.resource.size;
        }
        match/private{
          allow read, delete: if request.auth.uid == userID;
          allow create, update: if request.auth.uid == userID
          && request.auth.token.nextUpload == request.resource.name
          && request.auth.token.nextUploadBytes == request.resource.size;
        }
      }
    }
  }
}